<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List for {% if type_ == "entity" %} entities {% else %} events {% endif %}</title>
</head>
<body>
<h1>{% if type_ == "entity" %} Entity list {% else %} Event list {% endif %}</h1>
    {% if type_ == "event" %}
        <select onchange="location=this.value;">
            {% if event=="all" %}
                <option value="/list/{{ type_ }}?sortby={{ sortby }} &event=all" selected>All Event Types</option>
            {% else %}
                <option value="/list/{{ type_ }}?sortby={{ sortby }} &event=all">All Event Types</option>
            {% endif %}
            {% for e in event_types %}
                {% if event==e %}
                    <option value="/list/{{ type_ }}?sortby=size&event={{ e }}" selected>{{ e }}</option>
                {% else %}
                    <option value="/list/{{ type_ }}?sortby=size&event={{ e }}">{{ e }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <p>Sort by <a href="/list/{{ type_ }}?sortby=type&event=all">Event Type</a> | <a href="/list/{{ type_ }}?sortby=size&event={{ event }}">Cluster Size</a>
    {% endif %}
    <ul>
    {% for cluster in clusters %}
        <li>
            {{ cluster.label }} [{{ cluster.count }}] (<a href="{{ cluster.href }}">{{ cluster.uri }}</a>)
            {% if type_ == 'event' %}
                <br>Sources:
                {% for source in cluster.sources %}
                    {{ source }}
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% if offset > limit %}
    {% if type_ == "entity" %}
        <a href="/list/{{ type_ }}?limit={{ limit }}&offset={{ offset-limit }}">Prev page</a>
    {% else %}
        <a href="/list/{{ type_ }}?limit={{ limit }}&offset={{ offset-limit }}&sortby={{ sortby }}&event={{ event }}">Prev page</a>
    {% endif %}
{% elif offset > 0 %}
    {% if type_ == "entity" %}
        <a href="/list/{{ type_ }}?limit={{ limit }}">Prev page</a>
    {% else %}
        <a href="/list/{{ type_ }}?limit={{ limit }}&sortby={{ sortby }}&event={{ event }}">Prev page</a>
    {% endif %}
{% endif %}
{% if type_ == "entity" %}
    <a href="/list/{{ type_ }}?limit={{ limit }}&offset={{ offset+limit }}">Next page</a>
{% else %}
    <a href="/list/{{ type_ }}?limit={{ limit }}&offset={{ offset+limit }}&sortby={{ sortby }}&event={{ event }}">Next page</a>
{% endif %}
</body>
</html>
